{%extends 'insta/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
{{block.super}}
<h1 class='text-center'> ABOUT </h1>
<hr>
{% for comment in comments %}
    <div class="comment">
        <div class="date">{{ comment.pub_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}


{% endblock %}
    
</body>
</html>