{%extends 'insta/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
{{block.super}}

<h1 class='text-center' style="font-family: 'Dancing Script', cursive; font-weight: 900;"> INSTAGRAM CLONE APP</h1>
<div class="container-fluid display">
    <div class="row">
    {% for image in images %}
    
    <div class="col-md-4 ">
        <h1>{{ image.profile }}</h1> 
        <img src="{{image.image.url}}" class="img-fluid img-thumbnail img-responsive" alt="image" height="300px"
            width="600px" padding-top="3px" data-toggle="modal" data-target="#{{image.name}}{{image.id}}"><br>
    </div>
    {% endfor %}
    </div>
    </div>
    {% for post in posts %}
    <div class="col-md-7">
     <div class="panel panel-default">
         <div class="panel-heading">
            <img class="img-circle" src=" {{ post.author.profile.image.url }} " width="50" height="50">
            <p> {{ post.author }} </p>
         </div>
         <div class="panel-body">
            {% if post.cover %}
            <img src="{{ post.cover.url}}" alt="{{ post.title }}" width="400" height="400">
          {% else %}
          <p></p>
           {% endif %} 
         </div>
            <div class="article-metadata">
                 
                 <p>{{ post.pub_date|timesince }} ago </p>
             </div>
             <h2> {{ post.title }} </h2>
             <p> {{ post.content }} </p>
             <a href="{% url 'about'%}">Comments: {{ post.comments.count }}</a>
         </div>
         </div>
    {% endfor %}

{% endblock %}
    
</body>
</html>