{%extends 'insta/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
{{block.super}}
    {% endfor %}
    </div>
    </div>
     <div class="media content-section">
         <div class="media-body">
            <img class="img-circle" src=" {{ object.author.profile.image.url }} " width="200" height="200">
            <img src="{{ object.cover.url}}" alt="{{ object.title }}" width="200" height="200"> 
            <div class="article-metadata">
                 <a href="#"> {{ object.author }} </a>
                 <a href="#"> {{ object.pub_date|timesince }} </a>
             </div>
             <h2 class="article-content" > {{ object.title }}</h2>
             <p class="article-content"> {{ object.content }} </p>
         </div>
     </div>

{% endblock %}
    
</body>
</html>